@font-face {
  font-family: "SolaimanLipi";
  src: url(./assets/fonts/SolaimanLipi_20-04-07.ttf) format("truetype");
}
body {
  font-family: "SolaimanLipi";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
